* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Bellefair", sans-serif;
    font-weight: 400;
    /* font-size: 16px; */
    line-height: 1.7;
    color: #777;
    padding: 2rem;
}

.header {
    height: 40vh;
    background-image: url(../img/henhatzafon-image.jpeg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.logo-box {
    position: absolute;
    top: 10px;
    right: 10px;
}

.logo {
    height: 65px;
}

.text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    white-space: nowrap;
}

.heading-primary {
    color: yellow;
    text-shadow: .2rem .2rem #000;

    backface-visibility: hidden;
}

.heading-primary-main {
    display: block;
    font-size: 5vw;
    font-weight: 400;
    letter-spacing: 3.5vw;
    animation: moveInRight 3s;
    animation-timing-function: ease-out;
}

.heading-primary-sub {
    display: block;
    font-size: 2.3vw;
    font-weight: 500;
    letter-spacing: 1vw;
    animation: moveInLeft 3s;
    animation-timing-function: ease-out;
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translate(10rem);
    }

    80% {
        transform: translate(-2rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translate(-10rem);
    }

    80% {
        transform: translate(2rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.btn:link,
.btn:visited {
    text-decoration: none;
    background-color: #ddd;
    padding: 1rem;
    display: inline-block;
    border-radius: 50px;
    transition: all .2s;
}

.btn:hover {
    transform: translateY(-.4rem);
    box-shadow: 0 6px 14px rgba(0,0,0,.5);
}

.btn:active {
    transform: translateY(-.1rem);
    box-shadow: 0 3px 7px rgba(0,0,0,.2);
}

.top-line {
    display: grid;
    
    grid-template-areas:    "shabbat pay heb-date";
                            
    grid-auto-rows: max-content;
    /* width: 90%; */
    grid-template-columns: 1.5fr 1.2fr .8fr;
    color: black;
}

.content {
    display: grid;
    
    /* grid-template-areas:    "shabbat pay heb-date" */
                            /* "shab-times messages times"; */
                            
    grid-auto-rows: minmax(300px, max-content);
    /* width: 90%; */
    /* grid-template-columns: 1.2fr 1.5fr 1fr; */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    color: black;
}

.heb-date {
    text-align: right;
    margin-right: 7%;
    font-size: 1.5vw;
    
}

.pay {
    text-align: right;
    margin-right: 33%;
    font-size: 1.5vw;
}

.shabbat {
    margin-left: 3%;
    font-size: 1vw;
    
}


.times {
    
    margin: 2%;
    border-style: solid;
    border-radius: 1.5rem;
    /* background-color: rgb(240, 215, 240); */
    background-image: linear-gradient(rgba(255,255,255, 0.8), rgba(255,255,255, 0.8)), url(../img/prayer.jpg);
    background-size: contain;
    background-repeat: repeat;
    background-position: center;
    text-align: right;
    
    font-size: 1.7rem;
}

.shab-times {
    
    margin: 2%;
    border-style: solid;
    border-radius: 1.5rem;
    background-image: linear-gradient(rgba(255,255,255, 0.8), rgba(255,255,255, 0.8)), url(../img/shabbat.jpg);
    background-size: contain;
    background-repeat: repeat;
    background-position: center;

    /* opacity: .1; */
    /* background-color: rgb(240, 215, 240); */
    font-size: 1.7rem;
    text-align: right;
}
.times p {
    margin: 1rem;
}

.shab-times p {
    margin: 1rem;
}

.jerusalem {
    margin: 2%;
    border-style: solid;
    border-radius: 1.5rem;
    background-image: url(../img/JerusalemDay.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.messages {
    
    margin: 2%;
    border-style: solid;
    border-radius: 1.5rem;
    /* background-color: rgb(240, 215, 240); */
    background-image: linear-gradient(rgba(255,255,255, 0.8), rgba(255,255,255, 0.8)), url(../img/happy.jpg);
    background-size: contain;
    background-repeat: repeat;
    background-position: center;
    text-align: right;
    font-size: 1.7rem;
}

.lectures {
    
    margin: 2%;
    border-style: solid;
    border-radius: 1.5rem;
    /* background-color: rgb(240, 215, 240); */
    /* background-image: linear-gradient(rgba(255,255,255, 0.8), rgba(255,255,255, 0.8)), url(../img/prayer.jpg); */
    background-size: contain;
    background-repeat: repeat;
    background-position: center;
    text-align: right;
    font-size: 1.5rem;
}

.lectures p {
    margin: 1rem;
}

.lectures a {
    margin: 1rem;
}

.messages p {
    margin: 1rem;
}

.popup {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, .8);
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    
}

.popup__content {
    font-size: 4vw;
    padding: 3.5%;
    width: 75%;
    height: 75%;
    background-color: white;
    box-shadow: 0 .2rem .4rem rgba(0,0,0, .2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: .3rem;
    overflow: scroll;
    text-align: right;
    margin: .5rem;
}

.popup:target {
    opacity: 1;
    visibility: visible;
}

.close {
    position: absolute; 
    top: 2%;
    left: 2%;   
    color: black;
    text-decoration: none;
    display: inline-block;
}

.close:link {
    color: black;
    
}