* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
}

.header {
    height: 40vh;
    background-image: url(../img/henhatzafon-image.jpeg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.logo-box {
    position: absolute;
    top: 10px;
    right: 10px;
}

.logo {
    height: 65px;
}

.text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
    white-space: nowrap;
}

.heading-primary {
    color: yellow;
    text-shadow: 2px 2px #000;

    backface-visibility: hidden;
}

.heading-primary-main {
    display: block;
    font-size: 5vw;
    font-weight: 400;
    letter-spacing: 3.5vw;
    animation: moveInRight 3s;
    animation-timing-function: ease-out;
}

.heading-primary-sub {
    display: block;
    font-size: 2.3vw;
    font-weight: 500;
    letter-spacing: 1vw;
    animation: moveInLeft 3s;
    animation-timing-function: ease-out;
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translate(100px);
    }

    80% {
        transform: translate(-20px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translate(-100px);
    }

    80% {
        transform: translate(20px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.content {
    display: grid;
    
    grid-template-areas:    "shabbat pay heb-date"
                            "shab-times messages times";
                            
    /*grid-auto-rows: max-content;*/
    grid-template-columns: 1.2fr 1.5fr 1fr;
}

.heb-date {
    text-align: right;
    margin-right: 7%;
    font-size: 1.5vw;
    
}

.pay {
    text-align: center;
    font-size: 1.5vw;
}

.shabbat {
    margin-left: 3%;
    font-size: 1vw;
    
}


.times {
    
    margin: 2%;
    border-style: solid;
    border-radius: 15px;
    background-color: rgb(240, 215, 240);
    text-align: right;
    
    font-size: 1.7vw;
}

.shab-times {
    
    margin: 2%;
    border-style: solid;
    border-radius: 15px;
    background-color: rgb(240, 215, 240);
    font-size: 1.7vw;
    text-align: right;
}
.times p {
    margin: 10px;
}

.shab-times p {
    margin: 10px;
}

.messages {
    
    margin: 2%;
    border-style: solid;
    border-radius: 15px;
    background-color: rgb(240, 215, 240);
    text-align: right;
    font-size: 1.7vw;
}

.messages p {
    margin: 10px;
}